# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\f2020-hexanome-04\CE_GameService\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
